<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Edit Marathon</title>
</head>
<body>
<h1>Edit</h1>
<form method="post">
<table class="table table-bordered table-striped">
    <tr>
        <td>
            Marathon Name
        </td>
        <td>
            <input name="title" class="btn btn-primary btn-sm mb-3"  type="text" th:value="${marathon.title}" />
<!--            -->
            <input name="id" type="hidden" th:value="${marathon.id}">
        </td>

    </tr>
</table>
<br>
    <input type="submit" class="btn btn-success" value="save">
</form>
</body>
</html>