<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Students</title>
</head>

<body>

<div class="container">

    <h3>Students</h3>
    <hr>

    <h3>Add Student to Marathon</h3>
    <ul>
        <li th:each="mar1 : ${marathons}">
            <a th:href="@{'/students/'+${mar1.id}+'/add'}" th:text="${mar1.title}"/>
        </li>
    </ul>
    <br>
    <br>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Remove from</th>
            <th>Edit</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempStud : ${users}">
            <td>
            <form th:action="@{'/students/0/edit/' + ${tempStud.id}}">
                <input type="submit" th:value="${tempStud.firstName}">
            </form>
            </td>
            <td th:text="${tempStud.lastName}" />
            <td th:text="${tempStud.email}" />
            <td>
                <ul>
                    <li th:each="mar : ${marathons}" th:if="${mar.getUsers().contains(tempStud)}">
                        <a th:href="@{'/students/'+${mar.id}+'/delete/' + ${tempStud.id}}"
                           th:text="${mar.title}"
                           />
                    </li>
                </ul>
            </td>


            <td>
                <ul>
                    <li th:each="mar2 : ${marathons}" th:if="${mar2.getUsers().contains(tempStud)}">
                        <a th:href="@{'/students/'+${mar2.id}+'/edit/' + ${tempStud.id}}" th:text="${mar2.title}"/>
                    </li>
                </ul>


            </td>

         </tr>
         </tbody>
     </table>

 </div>

 </body>
 </html>

